# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.venv

# Flask cache and session data
instance/
*.sqlite3
*.db

# Logs and debugging files
logs/
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment variables / credentials
*.env*

# Editor / IDE files
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore
Dockerfile

