<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Jokes</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <div class="container">
      <h2>Random Jokes</h2>
      <p id="joke">Click Button to get a joke!</p>
      <button type="submit" onclick="generateJoke()">Generate</button>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
