{% extends 'base.html' %}

{% block content %}
<h1>Chat Room</h1>
<h2>Username: {{ username }}</h2>
<div class="border p-3 mb-3" style="height: 400px; overflow-y: scroll;">
  {% for message in messages %}
  <div>
    <strong>{{ message.username }}:</strong> {{ message.message }}
  </div>
  {% endfor %}
</div>
<form method="POST">
  <div class="input-group mb-3">
    <input type="text" name="message" class="form-control" placeholder="Type your message..."/>
    <button class="btn btn-info" type="submit">Send</button>
  </div>
</form>
<a class="btn btn-danger" href="{{ url_for('clear_chat') }}">Clear Chat</a>
{% endblock %}
