{% extends "base.html" %}

{% block title%}Contact{% endblock %}

{% block content %}
<h1 class="heading-fill">Contact us</h1>
<form class="form">
    <h2>Username</h2>
    <input class="inp" type="text" name="username" placeholder="Enter your username...">
    <h2>Email</h2>
    <input class="inp" type="text" name="email" placeholder="Enter your email...">
    <h2>Password</h2>
    <input class="inp" type="password" name="password" placeholder="Enter your password...">
    <input class="btn" type="submit" value="Confirm">
</form>

{% endblock %}