<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Expense tracker</h1>
    <a href="/add">Add Expense</a> | <a href="/summary">View Summary</a>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
          <td>{{expense[4]}}</td>
          <td>{{expense[1]}}</td>
          <td>{{expense[2]}}</td>
          <td>{{expense[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
