<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Expense Summary</h1>
    <a href="/">Back to Home</a>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Total Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for category, total in summary_data %}
        <tr>
          <td>{{category}}</td>
          <td>{{total}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
